@import "normalize.scss";

/*

All of that ^ is normalized code

All of that \/ is my code

*/

$colorBehind: #4FA2D7;

body {
    background-color: $colorBehind;
    font-family: "Helvetica Neue", sans serif;
    color: #fff;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0 auto;
}

section {
    padding: 1.5em 2em 0 2em;
}

input::-webkit-input-placeholder {
    font-style: italic;
    color: black;
    opacity: 0.5;
    font-size: 1.25em;
    min-height: 2em;
    padding-left: 0.25em;
}

textarea {
    height: 10em;
}

div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    p {
        margin-bottom: 0.25em;
        padding-left: 0.15em;
    }
}

select, input, textarea {
    background-color: $colorBehind;
    width: 97%;
}

input, textarea {
    border: 3px solid #fff;
    padding: 0.5em 0.25em;
}

select {
    font-size: 1.2em;
}

input {
    height: 1.5em;
}

.gadget {

    p {
        padding-bottom: 0.5em;
    }
    div {
        padding: 0;
        padding-bottom: 0.5em;
    }

    .radio-button {
        width: 1em;
        background: #fff;
    }

    .radio-label {
        vertical-align: top;
    }
}

.talent {
    padding-top: 0;
}

.drinks {
    div {
        height: 1em;
    }

    .drink-type {
        width: 0.8em;
        background-color: #fff;
    }

    label {
        vertical-align: top;
        padding-left: 0.5em;
    }
}

.bottom-button {
    padding: 0.5em 2em;
    background-color: #1E6797;
    text-align: center;
    margin: 2em auto 3em auto;
    border-radius: 1px;
    font-weight: 300;
    color: #fff;
    line-height: 2em;
    border: none;
    display: block;
}



// breakpoint for medium screens
// @media screen and (min-width: 48em) {
//     .column-one, .column-two {
//         float: left;
//         margin: 0 auto;
//     }
// }

//     .column-three {
//         clear: both;
//     }

// breakpoint for large screens
// @media screen and (min-width: 70.12em) {

// }
